api:
  base-url: ${BASE_API_URL}
  key: ${API_KEY}
  origin: ${ALLOWED_ORIGIN}
  mail:
    from: ${MAIL_USERNAME}
spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
